.car-details {
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 314159;
  pointer-events: initial;
  color: var(--darkblue);
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: saturate(300%) blur(10px);
  width: 630px;
  /* height: 60vh; */
  border-radius: 10px;
  transition: transform 400ms ease-in-out;
  /* transform: translateY(150%); */
  /* overflow: hidden; */
  padding: 30px;
}

.car-details-header {
  display: flex;
  justify-content: space-between;
}

.car-details-title {
  font-size: 1.5rem;
}

.car-details-close {
  padding: 5px;
  cursor: pointer;
}

.car-details-close:hover {
  color: red;
}

.car-details-desc {
  margin-top: 8px;
}

.car-details-text {
  font-weight: 600;
  font-size: 1.4rem;
}

.car-details img {
  border: 2px solid var(--darkblue);
  border-radius: 15px;
  margin-top: 8px;
}
