.App {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 314159;
  pointer-events: initial;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: saturate(300%) blur(10px);
  width: 100vw;
}

.app-header div {
  padding: 5px;
}

.app-name {
  /* margin-right: auto; */
  font-weight: 800;
}

.app-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaflet-container {
  height: 100vh;
}

.leaflet-control-container {
  position: absolute;
  top: 70px;
}
