.App {
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
  /* overflow: hidden; */
}

.leaflet-container {
  height: 100vh;
}

.leaflet-control-container {
  position: absolute;
  top: 80px;
}

.markercluster-map {
  height: 90vh;
}

.marker-cluster {
  background-color: white !important;
  /* color: white !important; */
}
